.prices-wrap {
    display: flex;
    align-items: flex-end;
    gap: toRem(10);
    &__price {
        &--sale {
            color: red;
            font-weight: 700;
            font-size: 18px;
        }
        &--old {
           position: relative;
           &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: red;
                transform: rotate(-10deg);
                transform-origin: center;
            }
        }
    }
}